.center {
	text-align: center;
}

table {
	border-spacing:0;
}

td {
	padding-right: 1em;
	padding-left: 1em;
}

.header {
	background-color:#dddddd;
	font-weight: bold;
}

.odd {
	background-color:#efefef;
}
